<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <meta name="description" content="CSE Motors is your premier destination for high-quality, pre-owned vehicles. Find your dream car today!">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link rel="preload" as="image" href="/images/vehicles/delorean.jpg">
</head>