<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="#" title="Custom vehicles">Custom</a></li>
        <li><a href="#" title="Sedans">Sedan</a></li>
        <li><a href="#" title="SUV's">SUV</a></li>
        <li><a href="#" title="Trucks">Truck</a></li>
    </ul>
</nav>